@mixin font-face ($family, $font-file, $path: $font-path) {
  font-family: $family;
  src: url('#{$path}#{$font-file}.woff2') format('woff2'),
  url('#{$path}#{$font-file}.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}