@use "../partials/partials";

.ns-menu {
  &__box {
    max-width: toRem(1200);
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    @extend %link;
  }

  &__item--active {

  }
}
